#drawing-canvas {
  border: solid;
  background-color: white;
  padding-left: 50px;
}

.boxed {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  border: 1px solid black;
  text-align: center;
}

body {

  background: linear-gradient(#ff1a1a, #009900);
}

#chat {
  float: right;
  margin-right: 70px;
  margin-top: 50px;
}

#canvas {
  margin-left: 60px;
  margin-bottom: 50px;
}

#count {
  display: inline-block;
  float: left;
  margin-top: 40px;
  font-size: 50px;
}

#playersDiv {
  width: 500px;
  float:left;
  margin-top: 50px;
  margin-left: 60px; 

}

#name {
  width: 20%;
}

#message {
  width:70%;
  height:20%;
}

#chat-name {
margin-top: 40px;
}

.colorbox {
  display: inline-block;
  height: 35px;
  width: 35px;
  margin-left: 3px;
}

 /*snow effect below*/

body { background-color:#333; }
 
messagesDiv