<html ng-app="myapp">
  <head>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js'></script>
    <script src='https://cdn.firebase.com/js/client/2.2.4/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controllers/firebaseController.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="./timer.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
  </head>
  

  <body ng-controller="firebaseController">
    <div id="messagesDiv" class="container">
      <div ng-repeat="msg in messages"><em>{{msg.name}}</em>: {{msg.body}}</div>
    </div>
    
    <input type="text" ng-model="name" placeholder="Name">
    <input type="text" ng-model="msg" ng-keydown="addMessage($event)" placeholder="Message...">


<!--     <form  ng-submit="createUser(); authWithPassword();">
       <label for="email">Email</label>
       <input type="text" name="email" ng-model="user.email">
       <label for="password">Password</label>
       <input type="text" name="password" ng-model="user.password">
       <input type="submit" value="Log in!"> 
     </form> -->

     <div id="playersDiv" class="container">
       <div>
         {{player2}}
       </div>
     </div>

     <form ng-submit="addPlayers()">
      <label for="player1">Player 1</label>
      <input type="text" name="player1" ng-model="player1">   
      <label for="player2">Player 2</label>
      <input type="text" name="player2" ng-model="player2">
      <label for="player 3">Player 3</label>
      <input type="text" name="player3" ng-model="player3">
      <label for="player 4">Player 4</label>
      <input type="text" name="player4" ng-model="player4">
      <input type="submit" value="Lets play!"> 
     </form>
    

    <div class="l-demo-container">
        <canvas id="drawing-canvas" width="550" height="550"></canvas>
    </div>
    <div id="colorholder"></div>


  
  </body>
  </html>
